<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>cetelempayment</name>
    <displayName><![CDATA[Cetelem]]></displayName>
    <version><![CDATA[17.6.4]]></version>
    <ps_versions_compliancy min="1.7.0.0" max="8.2.0" />
    <description><![CDATA[Customers can pay with a credit.]]></description>
    <author><![CDATA[Dabasystem solutions - https://www.dabasystem.com/]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
